:root{
  --gradient: linear-gradient(135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%));
--gradient2: linear-gradient(135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%))
}
* {
    padding: 0;
    margin: 0;
    border: 0;
  
  }